@model IEnumerable<React_server_side_demo.Models.CommentModel>
@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
</head>
<body>
    @Html.React("CommentBox", new
{
    initialData = Model,
    data = Model,
    submitUrl = Url.Action("AddComment"),
    pollInterval = 2000
});
    <div id="content"></div>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.13.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.13.0/umd/react-dom.development.js"></script>
    @Scripts.Render("~/bundles/main")
    <script src="@Url.Content("~/Scripts/CommentBox/CommentBox.jsx")"></script>
    @Html.ReactInitJavaScript()
</body>
</html>